*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    padding: 20px;
    font-family: monospace;
margin-bottom: 10px;
background-color: #f6f6f6;
cursor: pointer;
border: 1px solid gray;
font-size: 20px;

}
.my-div{
    width: 200px;
    height: 200px;
border: 1px solid black;

}